pytest # Указываем библиотеку pytest, которая будет нашим раннером для всех тестов
playwright # Указываем сам фреймворк Playwright для автоматизации действий в браузере
pytest-playwright # Указываем специальный плагин, который связывает pytest и Playwright вместе